/* тело сайта. Цвет фона и шрифт для всего сайта*/
body {
    background-color: #fffdef; /*Цвет фона сайта*/
    font-family: "Montserrat", sans-serif; /*Шрифт для всего текста на сайте*/
}

/* настройка размера логотипа на баннере */
.header img{
    width: 200px;
    height: 63px;
    padding-top: 10px;
    padding-bottom: 10px; /*внутренние оступы, чтобы посередеине по высоте было*/
}

/*создание баннера в вверху страницы - цвет, размер текста позиции, тень*/
.header{
    background-color: #4682A9; /*фон*/
    height: 85px; /*высота*/
    width: 100%; /*подстрока размера*/
    position: fixed;
    top: 0;
    left: 0; /*размещение в верхнем левом углу*/
    z-index: 1000; /*будет находится поверх всего*/
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5) /*тень фигуры*/
}

/* === СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ === */

/* Распределение текста и картинки на сайте (начальный текст и фотка первые)*/
.mainpage{
    padding-top: 200px; /*отступы*/
    padding-bottom: 100px;
}

.mainpage img{
    height: 347px;
    width: 347px; /*капибара с фектованием размер*/
}

/* Заголовок на главной и странице анализа */
.maintext{
    color: #749BC2;
    font-size: 60px;
    text-align: center
}

/* Подзаголовок на главной странице */
.subtitle{
    color: #496F94;
    font-size: 22px;
    max-width: 1100px;      
    margin: 0 auto;     
    padding-left: 20px;    
    padding-right: 20px;
    text-align: center;
}

/*текст в рамке прямоугольной с округлыми углами*/
.text {
    background: #4682A9;
    color: #FFFBDE;
    padding: 18px 26px; /* отступы внутри рамки */
    border-radius: 62px; /*скругление угла на 62 пикселя*/
    font-size: 28px;
    text-align: center; /* Центрирование по горизонтали */
    display: block;
    max-width: 1250px;
    margin: -25px auto 0;   /*отступ*/
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5) /*тень*/
}

/*фото капибары рядом с рамкой*/
.tennis {
    width: 347px;
    height: 347px;
    margin-top: -10px; 
    margin-left: 80px;
    display: block;
}

/*Стилизация названия списка*/
.name{
    color: #406890;
    font-size: 46px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 70px;
}

/* Список этапов */
.spisok{
    color: #30465A;
    font-size: 30px;
}

/* Элементы списка этапов (оформление блоков) */
.textspisok {
   background: linear-gradient(to bottom right,#AAD4E6, #4682A9); /*градиент блоков*/
    padding: 30px 15px; /*внутренние отступы*/
    border-radius: 35px; /*углы округление*/
    text-align: left; /*выравнивание по левому краю контейнера*/
    display: block;
    max-width: 900px;
    margin: 18px 0 0 150px; /*отступы*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    /* Плавная анимация (анимация плавная всей части блока, чтобы красиов выглядело. Медлинный старт, ускорение и замедленный конец*/
    transition: 
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.textspisok:hover { /*поднимается на верх*/
  transform: translateY(-3px);
}

/*капибара рядом со списком*/
.athletic {
    width: 347px;
    height: 347px;
    display: block;
    margin-left: 1130px;    /* отталкивает от левого края */
    margin-top: -180px;
}

/* Блок с надписью "Загрузите отчёт..." */

.AI {
  display: flex;
  align-items: flex-start;
  padding: 120px 0; /* чуть уменьшили отступы */
  gap: 30px; /* расстояние между картинкой и текстом */
}

.AI-text {
  margin: 90px 50px 0 auto; /* правый отступ 50px, левый — auto → прижато вправо */
  text-align: center;
  font-size: 40px;
  color: #30465A;
  max-width: 1000px; /* чтобы текст не растягивался на всю ширину */
}


.AI img {
  width: 370px;
  height: 450px;
  margin-left: 50px;
  margin-top: 80px;
}

/* Стрелка перед кнопкой */
.arrow-container {
    margin: 30px 0 50px 0;
}

/* Стрелка перед кнопкой (анимация) */
.scroll-hint-arrow {
  display: block;
  height: 150px;
  width: 170px;
  margin-left: auto;
  margin-right: 450px;
  margin-top: -430px;
  animation: bounce 2s infinite ease-in-out; /*плавная бесконечная анимация*/
}


@keyframes bounce { /*анимация с несколькими ключевыми кадрами, опускается вниз и возвращается обратно*/
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(12px); /* На сколько пикселей опускается */
    }
}

/* Стили кнопки "Проанализировать сейчас" именно текст*/

.butten-link {
  text-decoration: none; /* убираем подчёркивание ссылки */
  display: block;
  text-align: center;
}

.butten {
  background: #4682A9;
  color: #FFFBDE;
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: 600;
  margin: -20px 290px 0 auto;
  max-width: 500px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.butten:hover {
  transform: translateY(-3px);
}



/* === СТИЛИ ДЛЯ СТРАНИЦЫ АНАЛИЗА === */

/*заголовок*/
.maintext{
    padding-top: 65px;
    padding-bottom: 40px;
}

/* Подзаголовок на странице анализа */

.subtitle_two{
    color: #496F94;
    font-size: 24px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: -30px;
    text-align: center;
}

/* Дисклеймер */
.disclaimer {
    background: #fff3cd;
    border: 1px solid #ffc107;
    border-radius: 12px;
    padding: 25px;
    margin: 40px auto;
    max-width: 800px;
    font-size: 14px;
    color: #856404;
    line-height: 1.6;
}

.disclaimer strong {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

/*фото кота*/

.employee{
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;
    max-width: 320px;
    margin: 20px auto;
}

.employee img {
    width: 200px;
    height: 200px;
}

/* === ФУТЕР === */
footer {
    color: #30465A;
    font-size: 18px;
    padding: 40px 0;
    text-align: center;
    font-weight: 500;
}